
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&display=swap');


.info{
    font-family: 'Jost', sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 3rem;
}
.paleta1{
    width: 8rem;
    align-items: right;
    margin-left: 15rem;
    margin-right: auto;

}

.paleta2{
    width: 8rem;
    align-items: right;
    margin-left: 6rem;
    margin-right: auto;

}
.paleta3{
    width: 8rem;
    align-items: right;
    margin-left: 5rem;
    margin-right: auto;

}

.gato{
    width: 55rem;
    align-items: center;
    margin-left: -4.5rem;

}


.infos{
    margin-top: 3rem;
    font-family: 'Jost', sans-serif;
    
    text-align: justify;
    font-size: 1.2rem;
}

.infos2{
    font-family: 'Jost', sans-serif;
    font-style: medium;
    text-align: justify;
    font-size: 1.5rem;
}

.linea1{
   
    width: 40rem;
    align-items: center;
    height: auto;
    margin-top: 5rem;
    margin-left: 8rem;
    margin-right: auto;
    z-index:-5;

}

.linea2{
   
    width: 40rem;
    align-items: center;
    height: auto;
    margin-top: 5rem;
    margin-left: 8rem;
    margin-right: auto;
    z-index:-5;

}

.linea3{
    width: 8rem;
    align-items: right;
    margin-left: 5rem;
    margin-right: auto;
}

